.speech{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    color: black;
}
.stage-direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16x;
    color: black ;
    background-color: lightcyan;
   
}
.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color:black ;
}
.stage-direction:hover{
    background-color:lightpink;
    color: white;
}
.VALENTINE{
    color:yellowgreen;
}
.PROTEUS{
    color:darkmagenta;
}
.table{
    color:teal;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
 
table, th, td {
    border: 3px groove;
  }
  tr:nth-child(even) {
    background-color:lightgray;
}
